.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}
.header {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--Grey-light-2);
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--Grey-dark-1);
  justify-content: space-between;
  flex: 0 0 18%;
}
.content {
  display: flex;
}
.book-view {
  // background-color: red;
  flex: 1;
  height: 80rem;
}
